<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h3><span>Profile</span></h3>
        </div>
        <div class="row" *ngIf="!showForm">
            <!-- <div class="col-lg-12 text-end">
                <button class="btn btn-primary" (click)="export()">Export</button>
                <button class="btn btn-primary ms-4" (click)="create()">Create Profile</button>
            </div> -->
            <div class="col-lg-12 mt-2">
                <div class="row">
                    <div class="col-lg-2">
                        <input type="text" [(ngModel)]="mobile" class="form-control" placeholder="Mobile number" appAcceptNumberOnly maxlength="10">
                    </div>
                    <div class="col-lg-2">
                        <select class="form-control" [(ngModel)]="payout">
                            <option value="">Payout</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <select class="form-control" [(ngModel)]="status">
                            <option value="">Status</option>
                            <option value="2">Active</option>
                                    <option value="0">In Active</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-primary" (click)="loadData()">Search</button>
                        <button class="btn btn-primary ms-4" (click)="export()">Export</button>
                        <button class="btn btn-primary ms-4" (click)="create()">Create Profile</button>
                    </div>
                </div>
                <table class="table table-bordered mt-4">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Role</th>
                            <th scope="col">Payout</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let profile of profileLists | paginate: { itemsPerPage: 10, currentPage: p };let i=index;">
                            <td><a href="javascript:void(0);" (click)="viewElement(profile)">{{profile.name}}</a></td>
                            <td>{{profile.mobile}}</td>
                            <td>{{profile.role}}</td>
                            <td>{{profile.nomineemobile}}</td>
                            <td>{{profile.status==2?'Active':'In Active'}}</td>
                        </tr>
                        <tr *ngIf="profileLists.length==0" class="text-center">
                            <td colspan="6">No records found</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100" *ngIf="showForm">
            <div class="col-lg-12">
                <form [formGroup]="formGroup">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Name:</label>
                                <input type="text" class="form-control" formControlName="name">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Mobile:</label>
                                <input type="text" class="form-control" formControlName="mobile" [attr.disabled]="formGroup.value.id" appAcceptNumberOnly maxlength="10">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Father /Spouse Name:</label>
                                <input type="text" class="form-control" formControlName="fathername">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Image:</label>
                                <input type="file" class="form-control"  #thumbnail
                                (change)="onThumbnailChange(thumbnail.files)">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>DOB:</label>
                                <input type="date" class="form-control" formControlName="dob" [max]="getDOB()">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Gender:</label>
                                <select class="form-control" formControlName="gender">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Role:</label>
                                <select class="form-control" formControlName="role">
                                    <option value="{{role}}" *ngFor="let role of roles">{{role}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Nominee:</label>
                                <input type="text" class="form-control" formControlName="nomineename">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Payout:</label>
                                <select class="form-control" formControlName="nomineemobile">
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Bank Ac No:</label>
                                <input type="text" class="form-control" formControlName="accountno" appAcceptNumberOnly>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>IFSC:</label>
                                <input type="text" class="form-control" formControlName="ifsc" maxlength="12" (keypress)="alphaNumberOnly($event)" (paste)="onPaste($event)">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Status:</label>
                                <select class="form-control" formControlName="status">
                                    <option value="2">Active</option>
                                    <option value="0">In Active</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Address:</label>
                                <textarea class="form-control" formControlName="address"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-lg-4">
                            <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="formGroup.invalid">Save</button>
                            <button type="submit" class="btn btn-danger ms-3" (click)="cancel()">Cancel</button>
                        </div>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</section>