<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-lg-3">
            <select class="form-control" [(ngModel)]="year" (change)="loadData()">
                <option value="1">1 Year</option>
                <option value="3">3 Year</option>
                <option value="5">5 Year</option>
                <option value="">Overall</option>
            </select>
        </div>
        <div class="col-lg-9"></div>
        <div class="col-lg-12">
            <div class="chart-container" id="chart-container-id">
            </div>
        </div>
    </div>
</div>
<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About</h2>
            <h3>Find Out More <span>About Us</span></h3>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
                data-aos-delay="100">
                <p>Madras Technologies is an asset Management company provides the proper balance between the Investor and Client.</p>
                <p>
                    We as an asset management company is a financial institution that manages investments on behalf of individuals, corporations, or other entities. We are typically responsible for making investment decisions, executing trades, and monitoring the performance of the investments in their clients' portfolios. We also provide financial planning services to help clients achieve their long-term financial goals. “Madras Gold Scheme” was start on Apr 2023.
                </p>
                <p>
                    Loans: We as company is a financial institution that provides loans under “Madras Gold Scheme” to individuals or businesses. We may also offer different loan structures, such as fixed or variable interest rates, and may require collateral to secure the loan.
                </p>
                <p>
                    Investment: Investing as an investor in under “Madras Gold Scheme” generally involves purchasing units issued by the company, with the expectation of earning a return on your investment through capital appreciation. We as Loan Company may also offer the opportunity to invest directly in the loans they originate, through mechanisms such as peer-to-peer lending platforms.
                </p>
                <div class="row">
                    <div class="col">
                        <img src="assets/img/pic.jpg" class="pr-pic">
                    </div>
                    <div class="col">
                        <p>
                            <b>Office Address:</b><br>
                            Madras Technologies,<br>
                            No.6 K S Nagar Main Street,<br>
                            Puzhal, Chennai-600066,<br>
                            Tamilnadu, <br>India.
                        </p>
                    </div>
                    <div class="col text-center">
                        <img src="assets/img/qr.jpg" class="qr-code">
                        <p>UPI id: madrasgold@sbi</p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</section><!-- End About Section -->