<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h3><span>Approvals</span></h3>
        </div>
        <div class="row mt-3">
            <div class="col-lg-12 mt-2">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">T ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Type</th>
                                <th scope="col">Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let approval of approvalLists | paginate: { itemsPerPage: 10, currentPage: p };let i=index;">
                                <td>
                                    <span *ngIf="approval.repaymenthistory">{{approval.repaymenthistory?.id}}</span>
                                    <span *ngIf="approval.loanhistory">{{approval.loanhistory?.id}}</span>
                                    <span *ngIf="approval.profilehistory && approval.profilehistory.createdAt">{{approval.profilehistory?.id}}</span>
                                    <span *ngIf="approval.investment">{{approval.investment?.id}}</span>
                                    <span *ngIf="approval.deposithistory">{{approval.deposithistory?.id}}</span>
                                </td>
                                <td>{{approval.profile?.name}}</td>
                                <td>{{approval.profile?.mobile}}</td>
                                <td>{{approval.type}}</td>
                                <td>
                                    <span *ngIf="approval.repaymenthistory">{{approval.repaymenthistory?.createdAt|date:'dd-MM-yyyy'}}</span>
                                    <span *ngIf="approval.loanhistory">{{approval.loanhistory?.createdAt|date:'dd-MM-yyyy'}}</span>
                                    <span *ngIf="approval.profilehistory && approval.profilehistory.createdAt">{{approval.profilehistory?.createdAt|date:'dd-MM-yyyy'}}</span>
                                    <span *ngIf="approval.investment">{{approval.investment?.createdAt|date:'dd-MM-yyyy'}}</span>
                                    <span *ngIf="approval.deposithistory">{{approval.deposithistory?.createdAt|date:'dd-MM-yyyy'}}</span>
                                </td>
                                <td [innerHtml]="getStatus(approval)"></td>
                                <td>
                                    <button class="btn btn-info" (click)="openModal(investmentForm, approval.type, approval)" *ngIf="approval.type == 'Investment'">Update</button>
                                    <button class="btn btn-info" (click)="openModal(profileForm, approval.type, approval)" *ngIf="approval.type == 'Profile'">Update</button>
                                    <button class="btn btn-info" (click)="openModal(loanForm, approval.type, approval)" *ngIf="approval.type == 'Loan'">Update</button>
                                    <button class="btn btn-info" (click)="openModal(repaymentForm, approval.type, approval)" *ngIf="approval.type == 'Repayment'">Update</button>
                                    <button class="btn btn-info" (click)="openModal(depositForm, approval.type, approval)" *ngIf="approval.type == 'deposit' || approval.type == 'withdraw'">Update</button>
                                    
                                </td>
                            </tr>
                            <tr *ngIf="approvalLists.length==0" class="text-center">
                                <td colspan="5">No records found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>                
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</section>

<ng-template #investmentForm>
    <div class="modal-header">
       <h4 class="modal-title pull-left">Update Investment</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">×</span>
       </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">T ID</th>
                        <th scope="col">Units</th>
                        <th scope="col">Unit Rate</th>
                        <th scope="col">Value</th>
                        <th scope="col">Type</th>
                        <th scope="col">Payment Mode</th>
                        <th scope="col">Date</th>
                        <th scope="col">Approve</th>
                        <th scope="col">Decline</th>
                    </tr>                 
                </thead>
                <tbody>
                    <tr>
                        <td>{{approveDetails.investment?.id}}</td>
                        <td>{{approveDetails.investment?.units}}</td>
                        <td>{{approveDetails.investment?.rate}}</td>
                        <td>{{approveDetails.investment?.value}}</td>
                        <td>{{approveDetails.investment?.type}}</td>
                        <td class="text-capitalize">{{approveDetails.investment?.paymenttype}}</td>
                        <td>{{approveDetails.investment?.createdAt|date:'dd-MM-yyyy'}}</td>
                        <td><button class="btn btn-success" (click)="updateStatus(2)">Approve</button></td>
                        <td><button class="btn btn-danger" (click)="updateStatus(1)">Decline</button></td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
 </ng-template>

 <ng-template #profileForm>
    <div class="modal-header">
       <h4 class="modal-title pull-left">Update Profile</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">×</span>
       </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">T ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Father /Spouse Name</th>
                        <th scope="col">Image</th>
                        <th scope="col">DOB</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Role</th>
                        <th scope="col">Nominee name</th>
                        <th scope="col">Nominee mobile</th>
                        <th scope="col">Address</th>
                        <th scope="col">Approve</th>
                        <th scope="col">Decline</th>
                    </tr>                 
                </thead>
                <tbody>
                    <tr>
                        <td>{{approveDetails.profilehistory?.id}}</td>
                        <td>{{approveDetails.profilehistory?.name}}</td>
                        <td>{{approveDetails.profilehistory?.mobile}}</td>
                        <td>{{approveDetails.profilehistory?.fathername}}</td>
                        <td><img src="{{approveDetails.profile?.path}}{{approveDetails.profilehistory?.image}}" class="profile-img"></td>
                        <td>{{approveDetails.profilehistory?.dob}}</td>
                        <td>{{approveDetails.profilehistory?.gender}}</td>
                        <td>{{approveDetails.profilehistory?.role}}</td>
                        <td>{{approveDetails.profilehistory?.nomineename}}</td>
                        <td>{{approveDetails.profilehistory?.nomineemobile}}</td>
                        <td>{{approveDetails.profilehistory?.address}}</td>
                        <td><button class="btn btn-success" (click)="updateStatus(2)">Approve</button></td>
                        <td><button class="btn btn-danger" (click)="updateStatus(1)">Decline</button></td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
 </ng-template>

 <ng-template #loanForm>
    <div class="modal-header">
       <h4 class="modal-title pull-left">Update Loan</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">×</span>
       </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Loan Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Loan Date</th>
                        <th scope="col">Loan Disbursed</th>
                        <th scope="col">Payment Mode</th>
                        <th scope="col">Rate of interest </th>
                        <th scope="col">Renewal Date</th>
                        <th scope="col">Approve</th>
                        <th scope="col">Decline</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{approveDetails.loanhistory?.loan_id}}</td>
                        <td>{{approveDetails.profile?.name}}</td>
                        <td>{{approveDetails.loanhistory?.mobile}}</td>
                        <td>{{approveDetails.loanhistory?.date|date:'dd-MM-yyyy'}}</td>
                        <td>{{approveDetails.loanhistory?.disbursed}}</td>
                        <td class="text-capitalize">{{approveDetails.loanhistory?.paymenttype}}</td>
                        <td>{{approveDetails.loanhistory?.rateofinterest}}%</td>
                        <td>{{approveDetails.loanhistory?.renewaldate|date:'dd-MM-yyyy'}}</td>
                        <td><button class="btn btn-success" (click)="updateStatus(2)">Approve</button></td>
                        <td><button class="btn btn-danger" (click)="updateStatus(1)">Decline</button></td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
 </ng-template>

 <ng-template #repaymentForm>
    <div class="modal-header">
       <h4 class="modal-title pull-left">Update Repayment</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">×</span>
       </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">T Id</th>
                        <th scope="col">Loan Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Payment Mode</th>
                        <th scope="col">Date</th>
                        <th scope="col">Approve</th>
                        <th scope="col">Decline</th>
                    </tr>                 
                </thead>
                <tbody>
                    <tr>
                        <td>{{approveDetails.repaymenthistory?.id}}</td>
                        <td>{{approveDetails.repaymenthistory?.loan_id}}</td>
                        <td>{{approveDetails.profile?.name}}</td>
                        <td>{{approveDetails.repaymenthistory?.amount}}</td>
                        <td class="text-capitalize">{{approveDetails.repaymenthistory?.paymenttype}}</td>
                        <td>{{approveDetails.repaymenthistory?.createdAt|date:'dd-MM-yyyy'}}</td>
                        <td><button class="btn btn-success" (click)="updateStatus(2)">Approve</button></td>
                        <td><button class="btn btn-danger" (click)="updateStatus(1)">Decline</button></td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
 </ng-template>

 <ng-template #depositForm>
    <div class="modal-header">
       <h4 class="modal-title pull-left">Update Deposit</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">×</span>
       </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Dep No</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Dep Name</th>
                        <th scope="col">Beneficiary</th>
                        <th scope="col">Type</th>
                        <th scope="col">Payment Type</th>
                        <th scope="col">Tenure</th>
                        <th scope="col">Deposited</th>
                        <th scope="col">Approve</th>
                        <th scope="col">Decline</th>
                    </tr>                 
                </thead>
                <tbody>
                    <tr>
                        <td>{{approveDetails.deposithistory?.deposit_id}}</td>
                        <td>{{approveDetails.deposithistory?.createdAt|date:'dd-MM-yyyy'}}</td>
                        <td>{{approveDetails.deposithistory?.deposit?.purpose}}</td>
                        <td>{{approveDetails.deposithistory?.deposit?.beneficiaryname}}</td>
                        <td class="text-capitalize">{{approveDetails.deposithistory?.deposit?.type}}</td>
                        <td class="text-capitalize">{{approveDetails.deposithistory?.paymenttype}}</td>
                        <td>{{approveDetails.deposithistory?.deposit?.tenure}}</td>
                        <td>{{approveDetails.deposithistory?.value}}</td>
                        <td><button class="btn btn-success" (click)="updateStatus(2)">Approve</button></td>
                        <td><button class="btn btn-danger" (click)="updateStatus(1)">Decline</button></td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
 </ng-template>