<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h3><span>Portfolio</span></h3>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12">
                <form [formGroup]="searchFormGroup">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Mobile Number:</label>
                                <!-- <input type="text" class="form-control" placeholder="Enter your Mobile number"
                                    formControlName="mobile" [attr.disabled]="isClient? true : null" appAcceptNumberOnly
                                    maxlength="10"> -->
                                <input type="text" class="form-control" formControlName="mobile" (input)="filterItems()"
                                    placeholder="Mobile number" appAcceptNumberOnly maxlength="10">
                                <ul *ngIf="filteredItems.length > 0" class="autocom-mobile">
                                    <li *ngFor="let item of filteredItems" (click)="selectItem(item)">{{ item }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4" *ngIf="!isClient">
                        <div class="col-lg-4">
                            <button type="submit" class="btn btn-primary" (click)="submit()"
                                [disabled]="searchFormGroup.invalid">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-5" data-aos="fade-up" data-aos-delay="100" *ngIf="showForm">
            <div class="col-lg-12">
                <h4><span>Client Details</span></h4>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Fathername</th>
                                <th scope="col">DOB</th>
                                <th scope="col">Role</th>
                                <th scope="col">Nominee</th>
                                <th scope="col">Payout</th>
                                <th scope="col">Units</th>
                                <th scope="col">Unit Rate</th>
                                <th scope="col">Value</th>
                                <th scope="col">Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{profileDetails.name}}</td>
                                <td>{{profileDetails.mobile}}</td>
                                <td>{{profileDetails.fathername}}</td>
                                <td>{{profileDetails.dob}}</td>
                                <td>{{profileDetails.role}}</td>
                                <td>{{profileDetails.nomineename}}</td>
                                <td>{{profileDetails.nomineemobile}}</td>
                                <td>{{numberOfUnits}}</td>
                                <td>{{reportData?.unitRate}}</td>
                                <td [innerHtml]="getcurrentValue()">{{unitsValue}}</td>
                                <td><img src="{{profileDetails.path}}{{profileDetails.image}}" class="profile-img"
                                        *ngIf="profileDetails.image"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-lg-12" *ngIf="profileDetails&&profileDetails.id">
                <h4><span>Investment Details</span></h4>
                <div class="col-lg-12 text-end">
                    <button class="btn btn-primary" *ngIf="!isClient"
                        (click)="openModal(investmentForm)">Investment</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered mt-3">
                        <thead>
                            <tr>
                                <th scope="col">T ID</th>
                                <th scope="col">Type</th>
                                <th scope="col">Date</th>
                                <th scope="col">Units</th>
                                <th scope="col">Rate</th>
                                <th scope="col">Value</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let investment of investmentLists | paginate: { id: 'pagination1', itemsPerPage: 5, currentPage: investmentPage };let i=index;">
                                <td>{{investment.id}}</td>
                                <td>{{investment.type}}</td>
                                <td>{{investment.createdAt|date:'dd-MM-yyyy'}}</td>
                                <td>{{investment.units}}</td>
                                <td>{{investment.rate}}</td>
                                <td>{{investment.value}}</td>
                                <td [innerHtml]="getStatus(investment)"></td>
                            </tr>
                            <tr *ngIf="investmentLists.length==0" class="text-center">
                                <td colspan="6">No records found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination-controls id="pagination1" (pageChange)="investmentPage = $event"></pagination-controls>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-12 mt-2" *ngIf="profileDetails&&profileDetails.id">
                <h4><span>Loan Details</span></h4>
                <div class="col-lg-12 text-end">
                    <button class="btn btn-primary"
                        *ngIf="profileDetails&&profileDetails.id&&!isClient&&!loanFormGroup.value.id"
                        (click)="addLoan(loanForm)">Add Loan</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Loan Id</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Loan Date</th>
                                <th scope="col">Loan Disbursed</th>
                                <th scope="col">Renewal Date</th>
                                <th scope="col">Prinicipal O/S</th>
                                <th scope="col">No of Days</th>
                                <th scope="col">Interst Amount</th>
                                <th scope="col">Balance</th>
                                <th scope="col">ROI</th>
                                <th scope="col">Status</th>
                                <th scope="col" *ngIf="!isClient">Repayment</th>
                                <th scope="col">Remarks</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let loan of loanLists | paginate: { id: 'pagination2', itemsPerPage: 5, currentPage: loanPage };let i=index;">
                                <td>{{loan.id}}</td>
                                <td>{{loan.mobile}}</td>
                                <td>{{loan.date}}</td>
                                <td>{{loan.disbursed}}</td>
                                <td>{{loan.renewaldate}}</td>
                                <td [innerHtml]="getPrincipal(loan)"></td>
                                <td [innerHtml]="getNumberofDays(loan.renewaldate, loan.status)"></td>
                                <td [innerHtml]="getInterestAmount(loan)"></td>
                                <td [innerHtml]="getBalance(loan)"></td>
                                <td>{{loan.rateofinterest}}%</td>
                                <td [innerHtml]="getStatus(loan)"></td>
                                <td *ngIf="!isClient"><button class="btn btn-primary"
                                        (click)="openRepaymentModal(repaymentForm, loan)"
                                        *ngIf="loan.status==2">Repayment</button></td>
                                <td>{{loan.remarks}}</td>
                                <td>{{loan.description}}</td>
                            </tr>
                            <tr *ngIf="loanLists.length==0" class="text-center">
                                <td colspan="12">No records found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination-controls id="pagination2" (pageChange)="loanPage = $event"></pagination-controls>
            </div>
            <div class="col-lg-12" *ngIf="profileDetails&&profileDetails.id">
                <h4><span>Repayment Details</span></h4>
                <div class="table-responsive">
                    <table class="table table-bordered mt-3">
                        <thead>
                            <tr>
                                <th scope="col">T ID</th>
                                <th scope="col">Loan</th>
                                <th scope="col">Date</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Close</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let pay of repayment | paginate: { id: 'pagination3', itemsPerPage: 5, currentPage: repaymentPage };let i=index;">
                                <td>{{pay.id}}</td>
                                <td>{{pay.loan_id}}</td>
                                <td>{{pay.createdAt|date:'dd-MM-yyyy'}}</td>
                                <td [innerHtml]="getRepaymentAmt(pay)">{{pay.amount}}</td>
                                <td [innerHtml]="getClose(pay)"></td>
                                <td [innerHtml]="getStatus(pay)"></td>
                            </tr>
                            <tr *ngIf="repayment.length==0" class="text-center">
                                <td colspan="5">No records found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination-controls id="pagination3" (pageChange)="repaymentPage = $event"></pagination-controls>
            </div>
        </div>
    </div>
</section>

<ng-template #investmentForm>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Investment</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="investmentFormGroup">
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Type:</label>
                        <select class="form-control" formControlName="type" (change)="updateRedemption()">
                            <option value="" disabled>Select Type</option>
                            <!-- <option value="Redeem">Redeem</option> -->
                            <option value="Purchase">Purchase</option>
                            <option value="Full Redemption">Full Redemption</option>
                            <option value="Part Redemption">Part Redemption</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Value:</label>
                        <input type="text" class="form-control" formControlName="value" appAcceptNumberDecimalAmount
                            (keyup)="updateUnits()">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Rate:</label>
                        <input type="text" class="form-control" formControlName="rate" readonly [attr.disabled]="true">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Units:</label>
                        <input type="text" class="form-control" formControlName="units" readonly [attr.disabled]="true">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Payment Type:</label>
                        <select class="form-control" formControlName="paymenttype">
                            <option value="">Select Payment Type</option>
                            <option value="{{paymentt.value}}" *ngFor="let paymentt of paymentTypes">{{paymentt.label}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer" [formGroup]="investmentFormGroup">
        <button type="button" class="btn btn-primary" (click)="saveInvestment()"
            [disabled]="investmentFormGroup .invalid">Save</button>
    </div>
</ng-template>


<ng-template #loanForm>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Loan</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="loanFormGroup">
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Mobile:</label>
                        <input type="text" class="form-control" formControlName="mobile" [attr.disabled]="true"
                            appAcceptNumberOnly maxlength="10">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Payment Type:</label>
                        <select class="form-control" formControlName="paymenttype">
                            <option value="">Select Payment Type</option>
                            <option value="cash">Cash</option>
                            <option value="bank">Bank</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Loan Date:</label>
                        <input type="date" class="form-control" formControlName="date"
                            [attr.disabled]="isClient? true : null" [max]="getToday()">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Loan Disbursed:</label>
                        <input type="text" class="form-control" formControlName="disbursed"
                            [attr.disabled]="isClient? true : null" (change)="changeDisbursed()"
                            appAcceptNumberDecimalAmount>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Principal O/S:</label>
                        <input type="text" class="form-control" formControlName="principle" [attr.disabled]="true"
                            appAcceptNumberDecimalAmount>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Rate of Int (%):</label>
                        <input type="text" class="form-control" formControlName="rateofinterest"
                            [attr.disabled]="isClient? true : null" appAcceptNumberOnly>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Remarks:</label>
                        <textarea class="form-control" formControlName="remarks"
                            [attr.disabled]="isClient? true : null"></textarea>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Description:</label>
                        <textarea class="form-control" formControlName="description"
                            [attr.disabled]="isClient? true : null"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer" [formGroup]="loanFormGroup">
        <button type="button" class="btn btn-primary" (click)="submitLoan()"
            [disabled]="loanFormGroup.invalid">Save</button>
    </div>
</ng-template>



<ng-template #repaymentForm>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Repayment</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="repaymentFormGroup">
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>type:</label>
                        <select class="form-control" formControlName="type" (change)="getAmt()">
                            <option value="" disabled>Select Type</option>
                            <option value="Part Payment">Part Payment</option>
                            <option value="Full Payment">Full Payment</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Amount:</label>
                        <input type="text" class="form-control" formControlName="amount"
                            [attr.disabled]="(repaymentFormGroup.value.type=='Full Payment' ? true: null)"
                            appAcceptNumberDecimalAmount>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Payment Type:</label>
                        <select class="form-control" formControlName="paymenttype">
                            <option value="">Select Payment Type</option>
                            <option value="cash">Cash</option>
                            <option value="bank">Bank</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer" [formGroup]="repaymentFormGroup">
        <button type="button" class="btn btn-primary" (click)="saveRepayment()"
            [disabled]="repaymentFormGroup.invalid||getMinInterested()||getMaxPrinciple()">Save</button>
    </div>
</ng-template>